# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.docz
**/*.bundle*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dependencies
node_modules
.pnp
.pnp.js
*.local

# testing
coverage

# next.js
.next/
out/
build
dist
dist-ssr

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
tsconfig.tsbuildinfo

# storybook
storybook-static
