strict-peer-dependencies=false
public-hoist-pattern[]=*astro*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=*github-slugger*
public-hoist-pattern[]=*extend*
public-hoist-pattern[]=*jsx-ast-utils*
public-hoist-pattern[]=*lodash*
public-hoist-pattern[]=*signale*
public-hoist-pattern[]=*chokidar*
public-hoist-pattern[]=*prismjs*
public-hoist-pattern[]=*picomatch*
public-hoist-pattern[]=*react-docgen-typescript*
public-hoist-pattern[]=*react-docgen*
public-hoist-pattern[]=*recast*
public-hoist-pattern[]=*vscode-oniguruma*
public-hoist-pattern[]=*vscode-textmate*
public-hoist-pattern[]=*shiki*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*resolve*
public-hoist-pattern[]=*tsconfig-paths*
