.Alert {
  padding: .5rem
  margin: 1rem
  border-radius: 0.25rem
  background-color: white
  &.info {
    color: white
    background-color: #5352ED
    }
  &.positive {
    background-color: #2ED573
    }
  &.negative {
    background-color: #FF4757
    }
  &.warning {
    background-color: #FFA502
    }
}