{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "lodash",
    [
      "module-resolver",
      {
        "extensions": [".ts", ".tsx"],
        "root": ["./src"],
        "alias": {
          "~utils": "./src/utils",
          "~styles": "./src/styles"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["emotion"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }]]
    }
  }
}
