<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Ubuntu+Mono:400"
      type="text/css"
      rel="stylesheet"
    />
    <script type="text/javascript" src="https://embed.runkit.com"></script>

    <title>{{ title }}</title>
    {{
      head
    }}
  </head>
  <body>
    <div id="root"></div>
    {{ footer }}
  </body>
</html>
