.alert {
  padding: 15px 20px;
  background: white;
  border-radius: 3px;
  color: white;
}

.info {
  background: #5352ED;
}

.positive {
  background: #2ED573;
}

.negative {
  background: #FF4757;
}

.warning {
  background: #FFA502;
}
