{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "playgrodd": "../../packages/playgrood/build/main",
        "playgrodd-theme-default": "../../packages/playgrood/build/main/theme/default.js"
      }
    }]
  ]
}
